.btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @text-light;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid @text-light;
  &:hover {
    color: white;
    background-color: @text-light;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @text-light;
  }
}


