.contacts__wrapper {
  .wrapper;
  position: relative;

  &--btn {
    text-align: center;

    @media (min-width: @desktop-width) {
      text-align: left;
    }
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    padding-left: 0;
  }
}

.contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 457px;
  padding-top: 34px;
  border-collapse: collapse;

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: auto;
    margin-top: 50px;
  }
}

.contacts__info-table {
  border-collapse: collapse;

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.contacts__info-table th {
  vertical-align: top;
  width: 78px;
  padding: 0;
  font-size: 15px;
  line-height: 2em;
  font-weight: 400;
  text-align: left;
}

.contacts__info-table td {
  font-size: 15px;
  line-height: 2em;

  @media (min-width: @tablet-width) {
    width: 220px;
  }
}

.contacts__info-table tbody {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.contacts__email {
  padding-bottom: 4px;
  color: @text-light;
  border-bottom: 1px solid @link-border;

  &:hover {
    color: @link-border;
  }

  &:active {
    opacity: 30%;
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 39px;
  padding-top: 457px;
  background-color: #f3f1ea;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;

  // @media (min-resolution: 1.5dppx) {
  //   background-image: url("../img/");
  // }

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    background-image: url("../img/map-tablet@1x.jpg");

    // @media (min-resolution: 1.5dppx) {
    //   background-image: url("../img/");
    // }
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url("../img/map-desktop@1x.jpg");
    background-color: transparent;
    background-size: 525px 457px;

    // @media (min-resolution: 1.5dppx) {
    //   background-image: url("../img/.jpg");
    // }
  }
}

.contacts__map-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 457px;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 165px;
    left: 122px;
    width: 68px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    @media (min-width: @tablet-width) {
      top: 166px;
      left: 347px;
      width: 67px;
      background-size: 100% auto;
    }

    @media (min-width: @desktop-width) {
      left: 235px;
    }
  }
}

.contacts__btn {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: auto;
    min-width: 230px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 80px;
  }
}
