.features__wrapper {
  .wrapper;
  position: relative;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    padding-top: 67px;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 100% 20px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
  }
}

.features {
  padding-top: 34px;

  @media (min-width: @desktop-width) {
    padding-top: 15px;
  }
}

.features__list {
  .list-style-none;
  margin-top: 30px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.features__item {
  position: relative;
  margin-bottom: 28px;
  padding-top: 55px;
  line-height: 1.18em;
  color: @text-dark;

  @media (min-width: @tablet-width) {
    width: 330px;
    font-size: 20px;
    line-height: 1.1em;
    margin-bottom: 55px;

    &--materials {
      order: 1;
    }

    &--price {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--love {
      order: 2;
    }

    &--domestic {
      order: 4;
    }

    &--packing {
      order: 6;
    }
  }

  @media (min-width: @desktop-width) {
    width: 350px;
  }
}

.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 40% 0;
}

.features__item--materials::before {
  background-image: url("../img/icon-feature-flower.svg");
}

.features__item--price::before {
  background-image: url("../img/icon-feature-money.svg");
}

.features__item--likes::before {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 40% 9px;
}

.features__item--love::before {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 40% 6px;
  transform: translateX(-5px);
}

.features__item--domestic::before {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: 40% 5px;
  transform: translateX(-5px);
}

.features__item--packing::before {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 40% 5px;
  transform: translateX(-5px);
}
