.features__wrapper {
  .wrapper;
}

.features {
  padding-top: 34px;
}

.features__list {
  .list-style-none;
  margin-top: 30px;
  font-weight: 700;
}

.features__item {
  position: relative;
  margin-bottom: 28px;
  padding-top: 55px;
  line-height: 20px;
  color: @text-dark;
}

.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;
  background-color: red;
}
