.page-footer {
  background-color: @light-grey;
}

.footer__wrapper {
  padding-top: 28px;
  padding-bottom: 10px;
  text-align: center;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.social__link:not(:last-of-type) {
  margin-right: 40px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: @tablet-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    max-width: @desktop-width;
  }
}
