.form {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}

.form__wrapper {
  .wrapper;

  &--text {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--tel {
      margin-bottom: 35px;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.form__description {
  font-size: 13px;
  line-height: 1.86em;
  margin-top: 22px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    margin-top: 70px;
    font-size: 17px;
    line-height: 1.77em;
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
    margin-top: 125px;
    margin-left: 175px;
  }
}

.form__fieldset {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: 0 none;

  &--bg {
    @media (min-width: @tablet-width) {
      background-color: @light-grey;
    }
  }

  &--radio {
    padding-bottom: 31px;

    @media (min-width: @tablet-width) {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }

  &--checkbox {
    padding-bottom: 30px;

    @media (min-width: @tablet-width) {
      padding-top: 45px;
    }
  }

  &--personal-info {
    margin-bottom: -4px;
    padding-bottom: 0;

    @media (min-width: @tablet-width) {
      padding-top: 45px;
      padding-bottom: 36px;
    }
  }

  &--contacts {
    margin-bottom: 8px;

    @media (min-width: @tablet-width) {
      padding-top: 60px;
      padding-bottom: 50px;
    }
  }

  &--textarea {
    margin-bottom: -4px;

    @media (min-width: @tablet-width) {
      padding-top: 43px;
      padding-bottom: 50px;
    }
  }
}

.form__group-name {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: @color-light;

  &--bg {
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 25px;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    left: calc((100vw - 260px) / -2);
    top: 50%;
    display: block;
    width: 100vw;
    height: 1px;
    background-color: @color-light;
    z-index: -1;
  }

  &--radio {
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-top: 15px;
    }
  }

  &--checkbox {
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-top: 15px;
    }
  }

  &--name {
    margin-bottom: 23px;

    @media (min-width: @tablet-width) {
      margin-top: 15px;
    }
  }

  &--tel {
    margin-bottom: 1px;
  }

  &--email {
    margin-bottom: 1px;
  }

  &--additional {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      margin-top: 10px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 160px;
    font-size: 17px;

    &--bg {
      background-color: transparent;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    margin-left: 65px;
    margin-right: 11px;
  }
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 1.1em;
  font-weight: 700;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 16px;
  }
}

.form__flex-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left: auto;
    max-width: calc(100% - 165px);
    width: 501px;
    padding-left: 0;

    &--radio {
      flex-direction: column;
    }
  }

  @media (min-width: @desktop-width) {
    width: 697px;
    margin-left: 0;
    margin-right: 0;

    &--checkbox {
      width: 800px;
    }

    &--bottom {
      width: 697px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// radio-inputs
.form__label--radio {
  position: relative;
  padding-left: 62px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid @text-light;
    border-radius: 50%;
    z-index: 2;

    @media (min-width: @tablet-width) {
      top: 10%;
      width: 48px;
      height: 48px;
    }
  }
}

.form__input--radio {
  .visually-hidden;
}

.form__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 1px;
  display: block;
  width: 15px;
  height: 15px;
  background-color: @color-light;
  border: 11px solid white;
  border-radius: 50%;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: 12px;
    left: 6px;
    width: 20px;
    height: 20px;
    background-color: @color-light;
    border: 10px solid white;
    border-radius: 50%;
  }
}

.form__input--radio:disabled + label,
.form__input--radio:disabled:checked + label {
  &::before,
  &::after {
    opacity: 0.3;
  }
}

// checkboxes
.form__input--checkbox {
  .visually-hidden;
}

.form__label--checkbox {
  position: relative;
  padding-left: 62px;
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 82px;
    margin-bottom: 20px;
    width: 140px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &:nth-child(4n-2) {
      width: 180px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 180px;
    margin-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 36px;
    height: 35px;
    background-color: transparent;
    border: 2px solid @text-light;


    @media (min-width: @tablet-width) {
      top: 5px;
      left: 0;
      display: block;
      width: 50px;
      height: 49px;
      background-color: transparent;
      border: 2px solid @text-light;
    }
  }
}

.form__input--checkbox:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 23px 23px;

    @media (min-width: @tablet-width) {
      width: 36px;
      height: 36px;
      top: 13px;
      left: 10px;
      background-size: 36px 35px;
    }
  }
}

.form__input--checkbox:disabled + label,
.form__input--checkbox:disabled:checked + label {
  &::before,
  &::after {
    opacity: 0.3;
  }
}

input:not(:disabled),
input:not(:disabled):not(:checked) {
  & + .form__label--checkbox,
  & + .form__label--radio {
    &:hover::before,
    &:focus::before {
      border: 2px solid #62d1ba;
    }

    &:active::before {
      border: 2px solid @text-light;
      opacity: 0.3;
    }
  }
}

// text
.form__text-input-group {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 18px;
  }
}

.form__label--text {
  @media (min-width: @tablet-width) {
    margin-right: 25px;
    padding: 0;
    padding-top: 4px;
  }
}

.form__input--text {
  display: block;
  width: 100%;
  margin-bottom: 21px;
  padding-top: 8px;
  padding-bottom: 17px;
  font-size: 17px;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid @text-dark;
  background-color: transparent;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid #62d1ba;
    color: @text-light;
  }

  &::placeholder {
    font-size: 17px;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 10px;

    &--name,
    &--surname,
    &--patronym {
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 13px;
      margin-top: -10px;
      font-size: 19px;

      &::placeholder {
        font-size: 19px;
      }
    }

    &--tel,
    &--email {
      margin-top: 5px;
      padding-left: 17px;
      background-color: transparent;

      @media (min-width: @tablet-width) {
        margin-right: 0;
        max-width: 150px;
      }
    }
  }
}

.form__input-text {
  &--tel,
  &--email {
    padding-right: 70px;
  }
}

.form__input-textarea {
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  font-family: @font-main;
  font-size: 17px;
  line-height: 1.1em;
  padding: 13px 15px 17px;
  border: 2px solid @text-light;
  background-color: transparent;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: @tablet-width) {
    height: auto;
    min-height: 142px;
    font-size: 19px;
  }
}

.form__required-fields {
  margin-bottom: 26px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.4em;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    font-size: 17px;
  }
}

.form__flex-wrapper--bottom {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    padding: 0;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 695px;
    margin-left: 180px;
  }
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 2px lightskyblue;
}


.form__btn {
  @media (min-width: @tablet-width) {
    order: 1;
    margin-right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.form__flex-wrapper--icon {
  position: relative;
}

.form__input-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: black;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    top: 1px;
    right: 17px;
  }
}

input:hover + .form__input-icon,
input:focus + .form__input-icon,
input:active + .form__input-icon {
  fill: #62d1ba;
  opacity: 1;
}
