.goods__link-bg:first-of-type {
  background-color: @color-light;
}

.goods__link-bg:nth-of-type(2) {
  background-color:@color-middle;
}

.goods__link-wrapper {
  display: block;
  width: 320px;
  padding-left: 30px;
  padding-right: 38px;
  padding-top: 26px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.goods__link {
  display: block;
  padding-right: 112px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  width: 100%;
  // background-position: right center;
  // background-repeat: no-repeat;
}

.goods__link:active {
 color: rgba(255, 255, 255, 0.3);
}

.goods__link--interior {
  background-image: url();
}

.goods__link--toys {
  background-image: url();
}
