// кнопка и поведение мобильного меню
.main-nav__toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0 none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 3px;
    background-color: fuchsia;
    box-shadow: 0 8px 0 0 fuchsia, 0 16px 0 0 fuchsia;
  }

  &--off {
    display: block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 30px;
      height: 3px;
      background-color: fuchsia;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

//  main nav appearance
.main-nav__wrapper {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  text-align: center;
}

.main-nav__list {
  .list-style-none;
}

.main-nav__list-item {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  &--extra {
    display: none;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding-left: 60px;
  padding-top: 23px;
  padding-bottom: 22px;
  color: @text-dark;
  font-weight: 700;
  text-align: left;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--active {
    cursor: default;

    &:hover,
    &:active {
      color: @text-dark;
    }
  }
}

.main-nav__link svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.main-nav__link--search path,
.main-nav__link--cart path {
  fill: #231f20;
  opacity: 0.2;
}

.main-nav__link--search:hover path,
.main-nav__link--cart:hover path {
  fill: @color-light;
  opacity: 1;
}

.main-nav__link--search:active path,
.main-nav__link--cart:active path {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    .wrapper;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }

  .page-header__logo {
    margin-right: auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__list-item {
    position: static;
    box-shadow: none;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .main-nav__list-item--double {
    display: none;
  }

  .main-nav__link {
    position: static;
    padding-left: 0;
    padding-top: 29px;
    padding-bottom: 30px;

    &--search {
      padding-left: 33px;
      padding-right: 33px;
      border-left: 1px solid @border-grey;
    }

    &--cart {
      padding-left: 32px;
      border-left: 1px solid @border-grey;
    }
  }

  .main-nav__link svg {
    position: static;
    transform: translateY(0);
  }

  .main-nav__link--cart svg {
    margin-right: 32px;
  }


  .main-nav__search-text {
    .visually-hidden;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    justify-content: space-between;
  }

  .main-nav__list {
    width: @desktop-width;
    padding-bottom: 0;
    z-index: 2;
  }

  .main-nav__list-item--double {
    display: block;
  }

  .main-nav__list-item {
    &:first-child {
      border-right: 1px solid @border-grey;
    }

    &:nth-child(4n-2) {
      margin-right: auto;
    }

    &:nth-child(4n-1) {
      margin-left: auto;
      border-left: 1px solid @border-grey;
    }

    &:nth-child(4n) {
      border-left: 1px solid @border-grey;
    }
  }

  .main-nav__link {
    padding-right: 35px;
    padding-left: 35px;

    &--catalog {
      padding-left: 0;
    }

    &--order,
    &--cart {
      padding-right: 0;
    }
  }

  .page-header__logo {
    position: absolute;
    display: block;
    width: auto;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
