.weekly-hit__wrapper {
  .wrapper;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 50px;
  }
}

.weekly-hit__title {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: @tablet-width;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 100%;
    margin-bottom: 14px;
    z-index: 2;
  }
}

.weekly-hit {
  padding-top: 25px;

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.weekly-hit__product-name {
  @media (min-width: @tablet-width) {
    max-width: 520px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
    margin-bottom: 35px;
  }
}

.weekly-hit__label {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 17px;
  color: @color-light;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    line-height: 1em;
    margin-left: auto;
    margin-right: 12px;
    margin-bottom: 0;
    padding-top: 10px;
    max-width: 100px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 15px;
    left: 35px;
    padding-top: 0;
    font-size: 17px;
    line-height: 1em;
  }
}

.weekly-hit__info {
  @media (min-width: @tablet-width) {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 336px;
    min-height: 404px;
    padding-right: 44px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-left: 175px;
  }
}

.weekly-hit__description {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.47em;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 17px;
    line-height: 1.7em;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 1.77em;
  }
}

.weekly-hit__details-table {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 1.33em;
  border-collapse: collapse;

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}

.weekly-hit__details-table tr {
  border-bottom: 1px solid @light-grey;
}

.weekly-hit__details-table th {
  width: 98px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.weekly-hit__img {
  display: block;
  width: 260px;
  height: 315px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: -100%;
    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    // top: -5px;
    bottom: 0;
    left: 50%;
    width: 525px;
    height: 636px;
    z-index: 1;
  }
}

.weekly-hit__buy {
  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}

.weekly-hit__price {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 30px;
  }
}

.weekly-hit__btn {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 100%;
  }
}
