.weekly-hit__wrapper {
  .wrapper;
}

.weekly-hit {
  padding-top: 25px;
}

.weekly-hit__label {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 17px;
  color: @color-light;
  text-transform: uppercase;
}

.weekly-hit__description {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.47em;
}

.weekly-hit__details-table {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 1.33em;
  border-collapse: collapse;
}

.weekly-hit__details-table tr {
  border-bottom: 1px solid @light-grey;
}

.weekly-hit__details-table th {
  width: 98px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.weekly-hit__img {
  display: block;
  width: 260px;
  height: 315px;
  margin-bottom: 20px;
}

.weekly-hit__price {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .weekly-hit__wrapper {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }

  .weekly-hit__title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-width;
  }

  .weekly-hit__info {
    position: relative;
    box-sizing: border-box;
    width: 336px;
    min-height: 404px;
    padding-right: 44px;
  }

  .weekly-hit__product-name {
    max-width: 520px;
  }

  .weekly-hit__label {
    margin-left: auto;
    max-width: 100px;
    text-align: center;
  }

  .weekly-hit__img {
    position: absolute;
    top: 0;
    right: -100%;
    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  .weekly-hit__btn {
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .weekly-hit__wrapper {
    position: relative;
    padding-top: 50px;
  }

  .weekly-hit__title {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .weekly-hit__label {
    position: absolute;
    top: 15px;
    left: 35px;
    font-size: 17px;
    line-height: 1em;
  }

  .weekly-hit__product-name {
    max-width: 100%;
  }

  .weekly-hit__info {
    position: static;
    margin-left: 175px;
  }

  .weekly-hit__description {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 1.77em;
  }

  .weekly-hit__details-table {
    margin-bottom: 105px;
  }

  .weekly-hit__price {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 30px;
  }

  .weekly-hit__img {
    // position: absolute;
    top: -5px;
    left: 50%;
    width: 525px;
    height: 636px;
    z-index: 1;
  }
}
