.weekly-hit__wrapper {
  .wrapper;
}

.weekly-hit {
  padding-top: 25px;
}

.weekly-hit__label {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 17px;
  color: @color-light;
  text-transform: uppercase;
}

.weekly-hit__description {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 22px;
}

.weekly-hit__details-table {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.weekly-hit__details-table tr {
  border-bottom: 1px solid @light-grey;
}

.weekly-hit__details-table th {
  width: 98px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.weekly-hit__img {
  display: block;
  width: 260px;
  height: 315px;
  margin-bottom: 20px;
}

.weekly-hit__price {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-align: center;
}

