body {
  margin: 0;
  font-family: @font-main;
  font-size: 17px;
  line-height: 1.77em;
  font-weight: 400;
  color: @text-light;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input {
  &:hover,
  &:active,
  &:focus {
    outline: 0 none;
  }
}

textarea {
  &:hover,
  &:focus {
    outline: 0 none;
    border: 2px solid #62d1ba;
  }
}
