.list-style-none {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

// волнистый край фона
.wave {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background-repeat: repeat-x;
    background-image: url("../img/bg-zigzag-fill.svg");
    z-index: 1000;
    background-size: auto 23px;
    transform: translateY(50%);

    @media (min-width: @desktop-width) {
      background-size: auto 35px;
    }
  }
}

// серый фон блоков формы
.set-background-color {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: @light-grey;
    z-index: -10;

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }
  }
}

// footer links
.footer-link-hover {
  fill: @link-border;
  transition: 0.4s;
}

.footer-link-active {
  fill: @link-border;
  opacity: 0.3;
  transition: 0.2s;
}
