@font-main: "Open Sans";

@color-light:#63d1bb;
@color-middle:#56c3b2;
@color-dark:#149080;
@link-border: #46c1ae;
@text-light: #444444;
@text-middle: #010000;
@text-dark: #000000;
@light-grey: #f1f1f1;

@tablet-width: 772px;
@desktop-width: 1150px;
